<html>
<head>
<link rel="stylesheet" type="text/css" href="login_style.css">

</head>
<body>
<div id="wrapper">

<form id="form1" method="post" action="" onsubmit="return check_form();">
 <p id="login_label">USER LOGIN</p>
 <input type="text" id="name" placeholder="Enter Username">
 <br>
 <input type="password" id="pass" placeholder="Enter Password">
 <br>
 <input type="submit" value="SUBMIT FORM">
 <p>Username : testing 123 Password : testing123</p>
 <br>
</form>

</div>
<script src="assets/js/asd/js.js"></script>
</body>
</html>